.nav-wrapper {
    display: flex; 
    justify-content: center; 
    padding: 1rem;
}

.nav-element {
    margin: 0 1rem;
    display: inline-block;
    position: relative;
    color: #0076ca;
    text-decoration: none;
}

.nav-element:hover {
    text-decoration: underline
}

a.nav-element:active {
    text-decoration: underline
}

/* Searchbar styles */ 

.searchbar-wrapper {
    margin-bottom: 1rem
}

.searchbar-background {
    background-color: #F6F9FC; 
    border-bottom: solid 1px lightgrey
}

.searchbar-icon {
    border-radius: 15px
}